<% content_for :title, "Página Inicial" %>
<% content_for :navbar_title, "Gerenciamento" %>

<div class="bg-[#dbdbdb] min-h-screen w-full flex items-center justify-center p-4">
  <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-[380px] min-h-[520px] flex flex-col justify-center mx-auto"> <!-- Adicionei mx-auto e mudei height para min-height -->
    <div class="flex flex-col items-center gap-4">
      <button class="w-full max-w-[280px] h-[40px] bg-[#22C55E] hover:bg-green-600 text-[#F0FDF4] rounded-md transition duration-300 flex items-center justify-center font-poppins font-medium text-[14px]">
        Importar Dados
      </button>

      <button class="w-full max-w-[280px] h-[40px] bg-[#22C55E] hover:bg-green-600 text-[#F0FDF4] rounded-md transition duration-300 flex items-center justify-center font-poppins font-medium text-[14px]">
        Editar Templates
      </button>

      <button class="w-full max-w-[280px] h-[40px] bg-[#22C55E] hover:bg-green-600 text-[#F0FDF4] rounded-md transition duration-300 flex items-center justify-center font-poppins font-medium text-[14px]">
        Enviar Formulários
      </button>

      <button class="w-full max-w-[280px] h-[40px] bg-[#22C55E] hover:bg-green-600 text-[#F0FDF4] rounded-md transition duration-300 flex items-center justify-center font-poppins font-medium text-[14px]">
        Resultados
      </button>
    </div>
  </div>
</div>